# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env

# IDE files
.vscode/
.idea/

# Operating System files
.DS_Store
Thumbs.db

# Python packaging
build/
dist/
*.egg-info/

# Logs
*.log
